# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Streamlit
.streamlit/

# Virtual Environment
venv/
env/
ENV/

# OS specific files
.DS_Store
Thumbs.db

# Logs
*.log
unanswered_questions.csv
